{% load static %}
<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'food/style.css' %}" />
        <title>Document</title>
    </head>
    <body>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
                <a href="#" class="navbar-brand">
                  <img src="https://res.cloudinary.com/mhmd/image/upload/v1557368579/logo_iqjuay.png" width="45" alt="" class="d-inline-block align-middle mr-2">
                  <span class="text-uppercase font-weight-bold">RealTime</span>
                </a>

            <div class="navbar">
                <a class="nav-item nav-link" href="{% url 'food:create_item' %}">Add Item</a>
                <a class="nav-item nav-link" href="#">Delete Item</a>
                <a class="nav-item nav-link" href="#">View Item</a>
            </div>
        </nav>


        {% block body %}
        {% endblock %}
    </body>
    </html>