{% extends 'food/base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img height="300" src="{{item.item_image}}" class="card"  />
        </div>

        <div class="col-md-6">
            <h1>{{item.item_name}}</h1>
            <h1>{{ item.item_desc}}</h1>
            <h1>{{ item.item_opening_hours }}</h1>
            <h1>{{ item.item_shipping }}</h1>
            <h1>{{ item.item_shipping_avail  }}</h1>
            <h1>{{ item.item_sales }}</h1>
            <h1>{{ item.item_allowed_people }}</h1>

            {% if item.item_people_inside > item.item_allowed_people  %}
                <h1 style="color:red;">{{ item.item_people_inside }} -- Currently overcrowded, unavailable for entry</h1>
            {% else %}
                <h1 style="color:forestgreen;">{{ item.item_people_inside }} -- Currently available for entry</h1>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}
    


