{% extends 'food/base.html' %}
   {% block body %}
        <main role="main">

              <section class="jumbotron text-center">
                <div class="container">
                  <h1 class="jumbotron-heading">Welcome to RealTime</h1>
                  <p class="lead text-muted">An internet aggregator for all of your favorite stores</p>
                </div>
              </section>

            <div class="album py-5 bg-light" style="margin:-30px">
                <div class="container">
                    <div class="row">
                            {% for item in item_list%}
                                <div class="col-md-4">
                                  <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="{{ item.item_image }}" alt="Card image cap">
                                    <div class="card-body">
                                      <p class="card-text">{{item.item_desc}}</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                          <a href="{% url 'food:detail' item.id %}" class="btn btn-md btn-outline-secondary">View</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
   {% endblock %}